.container{
    height:500px;
    background-color: blueviolet;
    display:grid;
    border:1px solid black;
    grid-template-columns:repeat(3 ,1fr) ;
    grid-template-rows: repeat(5 ,1fr);
    grid-gap:10px
}
.box{
   /*height:50px;
   width:50px;*/
    background-color: blue;
}
#box1{
    grid-area:1/1/3/4
}