.container{
    
        height: 700px;
        width: 500px;
        background-color: blueviolet;
        display:grid;
        border:1px solid black;
        grid-gap:10px;
        grid-template-rows: 100px 480px 100px;
        grid-template-columns:130px 350px;
        grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
}
.box{
    border:1px solid black;
    background-color: brown;
}
#header{
    grid-area:header;
}
#sidebar{
    grid-area:sidebar;
}
#content{
    grid-area:content;
}
#footer{
    grid-area:footer;
}